@{
    ViewBag.Title = "Registration";
}

<div class="register-position">
    <div class="registration-background">
        <form name="regform" method="post" ng-submit="regSubmit(regData)">
            <table class="table-responsive">
                <thead>
                    <h1>Patient Registration Form</h1>
                </thead>
                <tr>
                    <td><strong> Patient Name</strong></td>
                    <td><input type=text class="input-lg form-group input-position" ng-model="regData.PName" name="PName" placeholder="Patient Name" /></td>
                    <td></td>
                </tr>
                <tr>
                    <td><strong> Father Name</strong></td>
                    <td><input type=text class="input-lg form-group input-position" ng-model="regData.PFName" name="PFName" placeholder="Father Name" /></td>
                    <td></td>
                </tr>
                <tr style="column-span:1px">
                    <td><strong>  Age</strong></td>
                    <td><input type=text class="input-lg form-group input-position" ng-model="regData.PAge" name="PAge" placeholder="Age" /></td>
                    <td></td>
                    </trstyle>
                <tr>
                    <td><strong> Date-Of-Birth</strong></td>
                    <td>
                        <datepicker date-format="dd-MM-yyyy">
                            <input ng-model="date" type="text" class="input-lg form-group input-position" name="DOB" placeholder="Date Of Birth" />
                        </datepicker>
                    </td>
                    <td></td>
                </tr>

                <tr>
                    <td><strong> Blood Group</strong></td>
                    <td>
                        <select ng-model="regData.BGroup" class="input-sm form-group input-position" name="BGroup">
                            <option value="">Select Blood group</option>
                            <option value="A+">A+</option>
                            <option value="A-">A-</option>
                            <option value="B+">B+</option>
                            <option value="AB+">AB+</option>
                            <option value="AB-">AB-</option>
                            <option value="O+">O+</option>
                            <option value="O-">O-</option>

                        </select>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><strong>Mobile Number</strong></td>
                    <td><input type=text class="input-lg form-group input-position" ng-model="regData.MNumber" name="MNumber" placeholder="Mobile Number" /></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <label> Address</label>
                    </td>
                    <td ng-controller="AddressController">
                        <div>
                            <label>Country</label>
                            <select ng-model="regData.Country" name="country" ng-change="getStates(regData.Country)" class="input-sm form-group input-position">
                                <option value="">Select Country</option>
                                <option value="{{country}}" ng-repeat="country in countries">{{country}}</option>
                            </select>
                            <label>{{regData.Country}}</label>
                        </div>
                        <div>
                            <label ng-show="true">State </label>
                            <select ng-model="regData.State" class="input-sm form-group input-position" name="state">
                                <option value="">Select State</option>
                                <option value="AP">AP</option>
                                <option value="{{state.state}}" ng-repeat="state in states">{{state.state}}</option>
                            </select>
                            <label>{{regData.State}}</label>
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                  <td style="width:200px">
                      <button class="btn btn-primary btn-success" type="submit" style="float:right">Registration</button>
                     
                  </td>
                    <td>
                        <button class=" btn btn-warning" type="reset" style="float:left">Clear</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>