body {
   background-color:lightgray;
   color:black;
   font-family:Arial;
   width:100%;
   height:100%;
}
header{
    background-color:#EE960A;
    width:100%;
    height:30%;
    display:inline-block;
    padding:0;
}
.header-logo-position{
    width:50%;
    height:100%;
    margin-top:10px;
    margin-bottom:30px;
    float:left;
    display:inline-block;
}
.wh-auth-position{
 width:50%;
    height:100%;
    margin-top:10px;
     margin-bottom:30px;
    float:right;
    display:inline-block;
}
.login-position{
    float:right;
    margin-top:10px;
    margin-right:50px;
}
.login-create{
    
 
    display: block;
  height: 35px;
  padding: 23px 22px 0px 22px;
  position: relative;
  text-transform: uppercase;
  z-index: 1010;
  text-decoration: none;
  font-weight: bold;
}
